{% extends 'base.html' %}

{% block content%}
    <div class="container w-9/12 mx-auto">
        <h1 class="text-7xl">[[post.title]]</h1>
        
        <h3 class="text-2xl">[[post.description]]</h3>
        <hr>
        <div class="flex">
            <div>[[post.updated_at]] </div>
            <div class="pl-4" @click="serverPage(post.category, '')">[[post.category]] </div>
            <div class="pl-4 flex">
                <span v-for="(tag, index) in post.tags" :key="index">
                    <span v-if="index !== 0">,</span>
                    <span @click="serverPage('', tag)">[[tag]]</span>
                </span>
            </div> 
        </div>

        <div class="flex flex-row">
            <div class="w-9/12">
                <img :src="post.image">
                <div>
                    [[post.content]]
                </div>
            </div>
            <div class="w-3/12 pl-2">
                <div class='border mb-4' v-if="prevPost.id">
                    <div>
                        Prev Post
                    </div>
                    <div>
                        <span @click="fetchPostDetail(prevPost.id)">
                            [[prevPost.title]]
                        </span>
                    </div>
                </div>
                <div class='border mb-4' v-if="nextPost.id">
                    <div>Next Post</div>
                    <div>            
                        <span @click="fetchPostDetail(nextPost.id)">
                            [[nextPost.title]]
                        </span>
                    </div>
                </div>
                <div class='border mb-4'>
                    <span v-for="(cate, index) in cateList" :key="index" @click="serverPage(cate, '')">
                        <span v-if="index !== 0">&nbsp;</span>
                        [[cate]]
                    </span>
                </div>
                <div class='border mb-4'>
                    <span v-for="(tag, index) in tagList" :key="index" @click="serverPage('', tag)">
                        <span v-if="index !== 0">&nbsp;</span>
                        [[tag]]
                    </span>
                </div>
            </div>
        <div>
    </div>
{% endblock %}

{% block extra-script %}
    {% include 'include/post_detail_vue.html' %}
{% endblock%}